<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name of Depatement</th>
        
        <th scope="col">supprimer</th>
        <th scope="col">ajouter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of _department; let i = index">
        <!-- <td style="width: 5%" class="text-center" scope="row">
        </td> -->
        <td>{{ obj.id }} </td>
        <td>{{ obj.firstName }}</td>
        <td><button class="mb-2 mr-2 btn-icon-vertical btn-transition border-0 btn btn-outline-danger action_button" > 
          <i class="pe-7s-trash btn-icon-wrapper"> </i>
        </button></td>
      </tr>
     
      </tbody>
  </table>
  <app-employee  ></app-employee>
