.drirection{
    float: right !important;
}
.container{
    display: flex; 
    justify-content:flex-end;
    align-items:flex-end;
    
}
.background{
   background: #d573cd4d;
}
// .container-item{
//     display: flex;  
//     flex-flow: row wrap;
// }