<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ajouter projet</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body row">
<form [formGroup]="form">
    <!-- Songs Form Array -->
    <div formArrayName="tasks">
        <h4>ajouter des taches</h4>
      <div *ngFor="let album  of tasks.controls; let i=index" class="albums__item" [formGroupName]="i">
        <div class="form-group mt-4 col-xs-3">
            <label for="description">description de tache</label>
            <input
              type="text"
              formControlName="description"
              class="form-control"
              id="description"
            />
          </div>
      
        <label> responsable de tache: </label>
        <ng-select
        [items]="users"
        [searchFn]="customSearchFn"
        bindLabel="firstName"
        [(ngModel)]="selecteduser"
        placeholder="Select employee"
        formControlName="users"
      >
      </ng-select> 
        <!-- <input type="text" formControlName="users"/> -->
        <div class="form-group mt-4 col-xs-2">
        <button  class="btn btn-primary" (click)="addTasks()">ajouter</button>
        </div>
        <div class="form-group mt-4 col-xs-2">
        <button class="btn btn-primary" (click)="removeTask(i)">supprimer</button>
        </div>
    </div>
      
    </div>
    <div class="modal-footer">
    <button  class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
    </div>
  </form>
