
    
      <nav id="sidebar" class="container-flex">
        <div class="sidebar-header item-flex-header">
          <h3>Gestion departement</h3>
        </div>
        <div class=" container-flex-list-sideBar">
        <ul class="list-unstyled components px-5">
          <img class="item-flex-img-sidebar " src="../assets/images/departement.png" width="100 px" height="100px" >
          <li>
            <a routerLink="/dashbord/employee" *ngIf="showAdmin">gestion utilisateur</a>

          <li>
            <a routerLink="/dashbord/departement" *ngIf="showAdmin">gestion departement</a>
          </li>

          <li>
            <a routerLink="/dashbord/schedule" *ngIf="showAdmin">gestion horaire employee</a>
          </li>

          <li>
            <a routerLink="/dashbord/project" *ngIf="showAdmin">gestion projet</a>
          </li>
          
          <li>
            <a routerLink="/dashbord/projectEmployee" *ngIf="showSimpleUser||showAdmin" >Project employee</a>
          </li>

          <li>
            <a routerLink="/dashbord/contact" *ngIf="showSimpleUser||showAdmin" >Contact Us</a>
          </li>
        </ul>
        </div>
        <ul class="list-unstyled CTAs item-flex-bottom-sideBar">
          <li>
            <a href="#" class="download">Download code</a>
          </li>
          <li>
            <a href="#" class="article">article</a>
          </li>
        </ul>
      </nav>

       
   
